


.alert-text {
  line-height: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  animation-name: move;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes move {
  from {
    color: black;
  }
  to {
    color: red;
  }
}

.item-checkbox:checked.item-checkbox::before {
  background-color: blue;
}

.item-checkbox::before {
  display: block;
  position: absolute;
  top: -8px;
  right: -14px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
  margin-top: 5px;
}

.item-checkbox {
  position: relative;
  margin-right: 15px;
  margin-left: 5px;
}

.item-checkbox:checked +.item-text {
  text-decoration: line-through;
}

.close-btn {
  margin-left: 15px;
  width: 30px;
  margin-top: 5px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
  font-weight: bold;
  outline: 0;
}